<ion-header>
  <ion-navbar color="primary">
    <ion-title>Weitere Angaben</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="saveUserInfo(validations_form.value)">

    <ion-item>
      <ion-label floating color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">Stimme</ion-label>
      <ion-input type="text" formControlName="part" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.part">
        <div class="error-message" *ngIf="validations_form.get('part').hasError(validation.type) && (validations_form.get('part').dirty || validations_form.get('part').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <button class="submit-btn" ion-button block type="submit" [disabled]="!validations_form.valid">Speichern</button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
</ion-content>
