page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .highcharts-xaxis-grid .highcharts-grid-line {
	  stroke-width: 0px;
	  stroke: #d8d8d8;
  }
  .highcharts-xaxis .highcharts-tick {
	  stroke-width: 0px;
	  stroke: #d8d8d8;
  }

}
