page-details{
    label > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
      }
      p{
        position: relative;
        padding-left: 20em;
      }
      label > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
      }
      label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
        background: rgba(158, 0, 0, 0.5);
        line-height: 1.7;
        border-radius: 3px;
        display:inline-block;
      }

      .circle-container {
        position: relative;
        width: 24em;
        height: 24em;
        padding: 2.8em;
        /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
        border: dashed 1px;
        border-radius: 50%;
        margin: 1.75em auto 0;
      }
      .circle-container a {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        width: 4em; height: 4em;
        margin: -2em;
      }
      .circle-container img { display: block; width: 100%; }
      .deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
      .deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
      .deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
      .deg180 { transform: translate(-12em); }
      .deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
      .deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
}
