page-menu{
    .titleOfCard
    {
        margin-top: -25px;
        margin-left: -12px;
    }
    
    .beschreibung
    {
        width: 80%;
        margin-left: -6px;
        padding-bottom: 5px;
    }

    .wear
    {
        margin-top: -35px;
    }

    .contentwidth 
    {
        width: 106%;
    }

    .headerDate
    {
        color: black;
        font-size: 2.2em;
        margin-top: -32px;
        padding-left: 75%;
    }

    .datumText
    {
        color: black;
        font-size: 1.5em;
        margin-bottom: -0.5em;
        margin-left: -0.4em;
    }
}
